@import url(http://fonts.googleapis.com/css?family=Exo+2:300,500);

body {
	text-align:auto;
}
h2, h3 {
	padding-top:0.6em;
	padding-bottom:0.3em;
}

p {
	padding-top:0.2em;
	padding-bottom:0.2em;
}

.pull-right {
	float:right;
	text-align:right;
}

.nav {
	height:6em;
}
.nav ul {
	margin:0px;
	padding:0px;
}
.nav h2 {
	margin-bottom:0px;
	paddding-bottom:0px;
}

li.nav-item {
	display:inline;
	list-style-type:none;
	margin:0.3em;
}

.row {
	max-width:62em;
	margin:auto;
}
.col {
	float:left;
	clear:none;
	margin:0px;
	padding:0px;
}
.col.size-1 {
	width:10%;
}
.col.size-2 {
	width:20%;
}
.col.size-3 {
	width:30%;
}
.col.size-4 {
	width:40%;
}
.col.size-5 {
	width:50%;
}
.col.size-6 {
	width:60%;
}
.col.size-7 {
	width:70%;
}
.col.size-8 {
	width:80%;
}
.col.size-9 {
	width:90%;
}
.col.size-10 {
	width:100%;
}

@media (max-width: 62em) {
	.col.size-1,
	.col.size-2,
	.col.size-3,
	.col.size-4,
	.col.size-5,
	.col.size-6,
	.col.size-7,
	.col.size-8,
	.col.size-9,
	.col.size-10 {
		clear:both;
		width:100%;
	}
}

@media (max-width: 28em) {  
	.nav {
		height:10em;
	}
}

html, body{
    height: 100%;
	margin:0px;
	padding:0px;
}

body {
	font-family: 'Exo 2', sans-serif;
	background: -moz-linear-gradient(top, rgba(247,251,252,0.3) 0%, rgba(217,237,242,0.3) 40%, rgba(173,217,228,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,252,0.3)), color-stop(40%,rgba(217,237,242,0.3)), color-stop(100%,rgba(173,217,228,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,251,252,0.3) 0%,rgba(217,237,242,0.3) 40%,rgba(173,217,228,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,251,252,0.3) 0%,rgba(217,237,242,0.3) 40%,rgba(173,217,228,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,251,252,0.3) 0%,rgba(217,237,242,0.3) 40%,rgba(173,217,228,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(247,251,252,0.3) 0%,rgba(217,237,242,0.3) 40%,rgba(173,217,228,0.3) 100%); /* W3C */
}