body, html {
    min-height: 100%;
}
body {
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
}

.greenish {
    background-color: #4ECDC4;
}
.greenish:hover {
    background-color: #A1DC40;
}
.reddish {
    background-color: #FF6B6B;
}
.reddish:hover {
    background-color: #C44D58;
}

.top-margin {
    margin-top: 1em;
}