<!DOCTYPE html>
<html data-ng-app>
	<head>
		<meta charset="utf-8">
		<title>kotitehtävä 2 / 2. AJAX</title>
		<script src="http://code.angularjs.org/1.2.8/angular.min.js"></script>
	</head>

	<body>
		<div data-ng-controller="XMLHttpRequestCtrl">
			<nav>
				<h2>Sivut</h2>
				<ul>
					<li data-ng-repeat="site in sites">
						<span data-ng-click="openContent($index)">{{site.name}}</span>
					</li>
				</ul>
			</nav>
			<div class="slide-animate-container">
				<div class="slide-animate" ng-include="url"></div>
			</div>
		</div>
	</body>
	<script>
		function XMLHttpRequestCtrl($scope, $http) {
			$scope.sites = [
				{name:'page1', url:'http://users.metropolia.fi/~ilkkamtk/IntPrg/2009/week6/task1/page1.html'},
				{name:'page2', url:'http://users.metropolia.fi/~ilkkamtk/IntPrg/2009/week6/task1/page2.html'},
				{name:'page3', url:'http://users.metropolia.fi/~ilkkamtk/IntPrg/2009/week6/task1/page3.html'},
				{name:'page4', url:'http://users.metropolia.fi/~ilkkamtk/IntPrg/2009/week6/task1/page4.html'}
			];
			
			$scope.openContent = function(id) {
				$scope.url = $scope.sites[id].url;
			};
		};
	</script>
</html>